.root{
    width: 40%;
    position: relative;
    margin: 1rem 0;
    span{
        color: #EC1C24;
        font-size: 80px;
        font-weight: bold;
    }
    h2{
        color: black;
        font-size: 30px;
        font-weight: bold;
    }
    p{
        color: rgba(0, 0, 0, 0.8);
        font-size: 24px;
    }
}