.root{
    width: 40%;
    position: relative;
    margin: 1rem 0;
    span{
        color: #EC1C24;
        font-size: 60px;
        font-weight: bold;
    }
    h2{
        color: black;
        font-size: 23px;
        font-weight: bold;
    }
    p{
        color: rgba(0, 0, 0, 0.8);
        font-size: 18px;
    }
}