.root{
    width: 75%;
    position: relative;
    margin: 0 auto;
    padding-top: 3rem;
    .text1,
    .text2,
    .text3{
        color: white;
        position: relative;
        z-index: 5;
    }

    .text1,
    .text2,
    .text3{
        font-size: 110px;
        line-height: 120px;
    }

    .text1{
        .redText{
            color: #EC1C24;
        }
    }

    .text3{
        margin-bottom: 1rem;
    }
    .littleText{
        font-size: 24px;
        line-height: 32px;
        color: rgba(255, 255, 255, 0.8);
        z-index: 5;
    }

    .rhombus{
        position: absolute;
        width: 400px;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        z-index: 2;
    }
}