.header{
    position: relative;
    background: url("./img/main_bg.jpg") center / cover;
    width: 100%;
    height: 100vh;
    padding-top: 10vh;
    .bottomText{
        padding-left: 12.5%;
        padding-top: 2rem;
        width: 25%;
        display: flex;
        justify-content: space-between;
        a{
            color: white;
            font-weight: 300;
            font-size: 16px;
            transition: .3s;
            &:hover{
                color: #EC1C24;
            }
        }
    }
}

@media screen and (max-width: 1400px){
    .header{
        .bottomText{
            padding-left: 8%;
            width: 22%;
            padding-top: 0;
        }
    }
}

@media screen and (max-width: 1312px){
    .header{
        .bottomText{
            width: 26%;
        }
    }
}
@media screen and (max-width: 1000px){
    .header{
        .bottomText{
            padding-top: 0.5rem;
        }
    }
}
@media screen and (max-width: 837px){
    .header{
        .bottomText{
            padding-left: 6%;
            width: 23%;
            a{
                font-size: 14px;
            }
        }
    }
}

@media screen and (max-width: 787px){
    .header{
        .bottomText{
            width: 26%;
            a{
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: 613px){
    .header{
        .bottomText{
            width: 32%;
            a{
                font-size: 13px;
            }
        }
    }
}

@media screen and (max-width: 454px){
    .header{
        .bottomText{
            padding-top: 0;
            a{
                font-size: 12px;
            }
        }
    }
}

@media screen and (max-width: 454px){
    .header{
        .bottomText{
            a{
                font-size: 11px;
            }
        }
    }
}